
label {
    width: 300px;
    display: inline-block;
}

ul {
    list-style: none;
}

.container {
    width: 50%;
    margin: 0 auto;
    background: #f0eedd;
}

textarea {
    width: 700px;
    height: 100px;
}