* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Open Sans';
    font-style: normal;
}

ol, ul {
    list-style: none;
}

img {
    vertical-align: top;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 970px;
}

/* Header */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_navigation {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.header_nav_li {
    display: inline-block;
    align-items: center;
    font-size: 18px;
}

.header_nav_li:not(:last-of-type) {
    margin-right: 40px;
}

.nav_link_home {
    text-decoration: none;
    color: black;
}

.nav_link {
    text-decoration: none;
    color: #828282;
}

/* Wrapper */

.wrapper {
    display: flex;
    flex-direction: column; 
}

/* First screen */

.my_name {
    font-weight: 800;
    font-size: 48px;
    line-height: 65px;
    margin-bottom: 50px;
    border-top: 2px solid #828282;
}

/* About me section */
.about_me_section {
    background: #F6F6F6;
    padding-top: 100px;
    padding-bottom: 100px;
}

.about_me {
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    color: #070707;
    margin-bottom: 50px;
}

.about_me_message {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 30px;
}

/* Skills section */

.skills_section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.title {
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    color: #070707;
    margin-bottom: 20px;
}

.skills_message {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 50px;
    color: #070707;
}


.skills {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Adobe Photoshop */
.product_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product_section:not(:last-of-type) {
    margin-right: 97px;
}

.logo {
    width: 80px;
    height: 80px;
    margin-right: 45px;
    margin-left: 45px;
    margin-bottom: 25px;
    align-items: center;
}

.name {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #828282;
    margin-bottom: 60px;
}

.rating {
    align-items: center;
}

/* Portfolio section */

.portfolio_section {
    background: #F6F6F6;
    text-align: center;
}

.portfolio_title {
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    color: #070707;
    margin-top: 100px;
    margin-bottom: 50px;
}

/* Fasion store */

.store {
    margin-bottom: 70px;
}

.image {
    margin-bottom: 40px;
}

.store_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #070707;
    margin-top: 40px;
    margin-bottom: 70px;
}

/* Contacts section */


.contacts_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;

}

.contacts_title {
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    margin-bottom: 20px;
    color: #070707;
}

.contacts_message {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #070707;
    margin-bottom: 60px;
}

button {
    width: 180px;
    height: 44px;
    background: #070707;
    border-radius: 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

.social_group {

    justify-content: space-between;
    margin-bottom: 60px;
}

.social_li {
    display: inline-block;
}

.social_li:not(:last-of-type) {
    margin-right: 50px;
}

.social_message {
    width: 200px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #828282;
}